.personal-data {
  margin-top: -5rem;
  padding-top: 5rem;
  height: 100vh;
  display: grid;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;



}



.data-center {
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
}

.data-info {
  background-color: hsl(186, 100%, 94%);
}

.underline {
  width: 30rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background-color: #2caeba;
  margin-left: auto;
  margin-right: auto;
}

.data-title {
  padding-top: 30px;
}


.data-contact-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
  position: relative;
  z-index: 10;
}




.data-img {
  width: 300px;
  height: 412.5px;
  background: burlywood;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  margin-left: auto;
  margin-right: auto;

}



.about-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.data-img {
  width: 300px;
  height: 412.5px;
  background: burlywood;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  margin-left: auto;
  margin-right: auto;

}

.about-information {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.about-stack-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
}

.stack {
  height: 50px;
}

.social-stack {
  height: 30px;
}


.about-section-works {
  width: 90vw;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  margin-left: auto;


}

.education-image {
  width: 250px;
  margin: 20px;

  margin-left: auto;
  margin-right: auto;
}

.about-date-container {
  display: flex;
  justify-content: space-around;
}

.about-skills {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
}

.space-end {
  padding-bottom: 100px;
}

/* //------------------PROJECTS PAGE--------------------------- */
.tags-buttons {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.btn {
  width: 150px;
}




/* 
  //------------------------------------------------------------ */
.project-image {
  margin-left: 30px;
}

.project-tags-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
}

.tag {
  height: 50px;
}


/* //---------------------------- */
.contact-icon {
  height: 30px;
}

.contact-section {
  width: 80vw;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.form-message {
  height: 80px;
}

.btn-submit {
  margin-top: 30px;

}

.header-icon {
  height: 30px;
}

@media screen and (max-width: 750px) {
  .section-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .data-center {
    margin-top: 30px;
  }
}